# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Environment
.env

# Data
data/raw/
data/processed/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Virtual env
venv/
.venv/
env/
